<div id="<%= dom_id(message) %>" class="<%= message_row_class(message) %>">
  <% if message.visible_in_chat? %>
    <div class="msg-bubble">
      <div class="msg-role"><%= message.role %></div>

      <% if render_as_pill?(message) %>
        <div class="msg-pill"><%= tool_call_pill_text(message) %></div>
      <% else %>
        <div class="msg-body"><%= message.content %></div>
      <% end %>
    </div>
  <% end %>
</div>
